---
import Layout from "../layouts/Layout.astro";
import CardApi from "../components/Card.astro";

const allApis = await Astro.glob("../content/apis/*.md");
console.log(`PRIMEIRO LOG`);

console.table(allApis);

function compararPorData(a, b) {
	const dataA: any = new Date(
		a.frontmatter.updatedAt.replace(/(\d{2})\/(\d{2})\/(\d{2})/, "20$3-$2-$1"),
	);
	const dataB: any = new Date(
		b.frontmatter.updatedAt.replace(/(\d{2})\/(\d{2})\/(\d{2})/, "20$3-$2-$1"),
	);
	return dataA - dataB;
}

let allApisSorted = allApis.sort(compararPorData);
console.log(`SEGUNDO LOG`);

console.table(allApisSorted);
---

<Layout title="APIs Testes (Index com Astro)">
	<div class="container mx-auto">
		<div class="text-center mb-6">
			<h1 class="text-3xl font-semibold">APIs - Testes</h1>
			<p class="text-gray-600">
				Algumas APIs, usando Netlify serverless functions, como teste de
				conceito
			</p>
		</div>
		<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			{
				allApis.map((api) => (
					<CardApi
						href={api.frontmatter.href}
						title={api.frontmatter.title}
						methods={api.frontmatter.methods}
						status={api.frontmatter.status}
						body={api.frontmatter.body}
					/>
				))
			}
		</ul>
	</div>
</Layout>
