---
export const prerender = false;
import "../styles/main.css";

type Headline = {
	title: string;
	source: string;
	href: string;
};

const scrollableObjectStyle: string =
	"no-underline uppercase mx-8 text-1xl font-bold whitespace-no-wrap relative";

const response: any = await fetch(
	"https://testing-apis.netlify.app/api/newsApiv2",
);
const { headlines }: { headlines: Array<Headline> } = await response.json();
const AnimTimeSpan = (headlines.length / 20) * 360;
---

<!doctype html>
<html lang="pt=br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>News Ticker</title>
	</head>
	<body class="p-16 min-h-screen flex items-end">
		<div class="w-full overflow-hidden bg-gray-100">
			<ul
				id="scroller__inside"
				class="flex flex-row flex-no-wrap gap-8 shadow-md"
				style={`animation: scroll ${AnimTimeSpan}s forwards linear infinite;`}
			>
				{
					headlines.map(({ title, source, href = "blank" }) => (
						<li title={source} class={scrollableObjectStyle}>
							<a href={href}>{title}</a>
						</li>
					))
				}
				<!-- duplica o conteudo para criar a animação infinita -->
				{
					headlines.map(({ title, source, href = "blank" }) => (
						<li title={source} class={scrollableObjectStyle} aria-hidden="true">
							<a href={href}>{title}</a>
						</li>
					))
				}
			</ul>
		</div>
	</body>
	<style>
		body {
			background-image: url(https://source.unsplash.com/random/?news,newsroom,headlines);
			background-size: cover;
			backdrop-filter: blur(5px);
		}
		#scroller__inside {
			padding: 1rem 0;
			width: max-content;
			flex-wrap: nowrap;
			cursor: pointer;
		}
		@keyframes scroll {
			to {
				transform: translate(calc(-50% - 1rem));
			}
		}
	</style>
</html>
