---
export const prerender = false;
import ScrollingItem from "../components/ScrollingItem.astro";
import "../styles/main.css";

type Headline = {
	title: string;
	source: string;
	href: string;
};

const API_URL =
	process.env.NODE_ENV === "development"
		? "http://localhost:8888/api/newsApiv2"
		: "https://testing-apis.netlify.app/api/newsApiv2";

const response: any = await fetch(API_URL);
const { headlines, size }: { headlines: Array<Headline>; size: number } =
	await response.json();
const AnimTimeSpan = (size / 20) * 360;
---

<!doctype html>
<html lang="pt=br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>News Ticker</title>
	</head>
	<body class="p-16 min-h-screen flex items-end">
		<div class="w-full overflow-hidden bg-gray-100">
			<ul
				id="scroller__inside"
				class="flex flex-row flex-no-wrap gap-8 shadow-md"
				style={`animation: scroll ${AnimTimeSpan}s forwards linear infinite;`}
			>
				{
					headlines.map(({ title, source, href }) => (
						<ScrollingItem title={title} source={source} href={href} />
					))
				}
				<!-- esse segundo map duplica os itens o que cria o efeito de scroll infinito. a propriedade shadow define essa segunda iteração como aria-hidden=true -->
				{
					headlines.map(({ title, source, href }) => (
						<ScrollingItem title={title} source={source} href={href} shadow />
					))
				}
			</ul>
		</div>
	</body>
	<style>
		body {
			background-image: url(https://source.unsplash.com/random/?news,newsroom,headlines);
			background-size: cover;
			backdrop-filter: blur(5px);
		}
		#scroller__inside {
			padding: 1rem 0;
			width: max-content;
			flex-wrap: nowrap;
			cursor: pointer;
		}
		@keyframes scroll {
			to {
				transform: translate(calc(-50% - 1rem));
			}
		}
	</style>
</html>

<!-- {
				do{
					headlines.map(({ title, source, href = "blank" }) => (
						<li title={source} class={scrollableObjectStyle} aria-hidden={!firstRun}>
							<a href={href}>{title}</a>
						</li>
					))
				} while (firstRun);
			} -->
